<div class="footballPicDiv">
    <div class="jumbotronWhiteWords">ABOUT</div>
</div>

<div class="gotStartedDiv">
    <div class="logoOnGrassDiv"></div>
    <div class="largeDarkGreyWords">HOW IT GOT STARTED</div>
    <div class="smallLightGreyWords">The game within the game.</div>
    <div class="smallDarkGreyWords">CoverSharks was founded by a group of college football fans who have been playing a fantasy sports game call "Pick Six" for over a decade. As an alum and avid fan of the Crimson Tide, Bill Wilder first created the original concept behind the game app in 2006. The idea was simple...give friends and college football fans alike the opportunity to compete in their favorite sport using an innovative format of game play that engages them in a unique, "game within the game" competition and enhances the overall entertainment experience.</div>
</div>