<section>

    <div class="container-fluid" id="firstdiv">
        <div class="row">
            <div id="secbg">
                <div class="col-md-6">
                    <div class="blue-banner">ARE YOU IN?</div>
                    <div class="paragraph">Data analytics, skill, and strategy. All in the <br> ultimate in-game experience. CoverSharks is <br> primed to be the industry pioneer in a new<br> genre of game play...Team Fantasy Sports.</div>
                    <div>
                        <button type="button" id="sec1btn" class="btn btn-default btn-lg">MORE INFO</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="hero-phone" src="assets/home/hero-phone.png" alt="hero phone">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="secdiv">
        <div class="row">
            <div class="col-md-6">
                <img class="yeti" src="assets/home/apple-watch-and-yeti-image.png" alt="Apple Watch and Yeti Cooler">
            </div>
            <div class="col-md-6">
                <div class="parrafo2">
                    <div class="secdiv">REGISTER NOW FOR A CHANCE TO WIN A</div>
                    <div class="secdiv2">FREE YETI COOLER<br> or APPLE WATCH</div>
                    <button type="button" class="btn-lg">REGISTER</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="thrirddiv">
        <div class="row">
            <div class="col-md-6">
                <div class="blue-paragraph">Choose How You<br> Want to Play.</div>
                <div class="thrsecparagraph">Do you want to complete alongside your favorite <br>teams? Do you follow the entire nation or a <br>specific conference or region of the country?<br> CoverSharks gives you the option to customize<br>your play with our unique format of
                    games that<br>suits your personal preferences.</div>
                <div>
                    <button type="button" class="btn btn-default btn-lg">HOW TO PLAY</button>
                </div>
            </div>
            <div class="col-md-6">
                <img class="tilted-phone" src="assets/home/tilted-phone.png" alt="tilted-phone">
            </div>
        </div>
    </div>

    <div class="container-fluid" id="sec4">
        <div class="row">
            <h1 class="text-center" id="sec4p">OVERVIEW OF GAME PLAY</h1>
            <div class="col-md-4">
                <div class="well well-lg">
                    <img class="app-image" src="assets/home/app-image-1-01.png" alt="app image">
                    <p>In-Game Experience</p>
                    <p>Scores of each game are updated<br> in real-time to offer players<br>the ultimate in-Game experi-ence.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    <img class="app-image" src="assets/home/app-image-2-04.png" alt="app image">
                    <p>Data and Analytics</p>
                    <p>As an integral part of gme play,<br>CoverSharks offers players a<br> wide variety of real-time data<br>and analytics.</p>

                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    <img class="app-image" src="assets/home/app-image-3-05.png">
                    <p>Skill and Strategy</p>
                    <p>Game odds are updated daily in <br>real-time giving players an <br> added level of skill and strategy.

                </div>
            </div>
        </div>
        <div>
            <p class="text-center" id="sec4p2">Enter your email for more information and updates about CoverSharks</p>
        </div>
        <div>
            <button type="button" class="btn btn-default btn-lg btn-block">Email</button>
            <button type="button" id="sec4btn" class="btn btn-primary btn-lg">SUBSCRIBE</button>
        </div>
    </div>
</section>