<div class="footballPicDiv">
    <div class="jumbotronWhiteWords">HOW TO PLAY</div>
</div>

<div class="pageBar">
    <div class="greyWords">Getting Started</div>
        <div class="greyWords">Videos</div>
</div>

<div class="appComing">
    <div class="phoneImage"></div>
    <div class="phoneWords">
        <div class="largeDarkGreyWords">APP COMING SOON</div>
        <div class="smallLightGreyWords">Our app is in development, but you can enter your email to be the first to receive updates about CoverSharks.</div>
        <input type="text" value="Email" class="emailInput">
        <div class="darkGreyButton">SUBSCRIBE</div>
    </div>
    <div class="smallBlueWords">Our contests are based on real-time point spreads that are used to establish favorite and underdogs.</div>
    <div class="reallySmallLightGreyWords">Instead of picking players based on their statistics, our contests are based on outcomes of games in real-time. The concept behind our game is fun, easy, mobile and patent pending</div>
</div>

<div class="overviewDiv">
    <div class="largeTealWords">OVERVIEW OF GAMEPLAY</div>
    
    <!--contest-->
    <div class="titleOver">
        <div class="blueCircleNumbers">1</div>
        <div class="skinnyBlackLetters">Pick Your Contest</div>
    </div>
    <div class="tinyLightGreyWords">CoverSharks is different because it lets you choose your contest and how you want to play. Enter the Shark Tank and choose college teams to play against the point spread or the total in our weekly games.</div>

    <!--play-->
    <div class="titleOver">
        <div class="blueCircleNumbers">2</div>
        <div class="skinnyBlackLetters">Choose How You Want to Play</div>
    </div>
    <div class="tinyLightGreyWords">Do you want to compete alongside your favorite teams? Do you follow the entire nation or a specific conference or region of the contry? CoverSharks gives you the option to customize your play with our unique format of games that suits your personal preferences.</div>

    <!--points phone-->
    <div class="pointsPhone">
        <div class='pointsPhoneWords'></div>
            <div class="bigBlueWords">Score Points and Win</div>
            <div class="smallLightGreyWords">Once the games begin, teams and players compete to win points. With each win, you can accumulate points taht can be redeemed.</div>
        <div class="pointPhoneDiv"></div>
    </div>

    <!--pick-->
    <div class="titleOver">
        <div class="blueCircleNumbers">3</div>
        <div class="skinnyBlackLetters">Pick for Free</div>
    </div>
    <div class="tinyLightGreyWords">CoverSharks lets you play for free in any of our games. Want to play with more on the line than picking the winner? Choose from a variety of games and choose your competition each and every week of the season.</div>

    <!--friends-->
    <div class="titleOver">
        <div class="blueCircleNumbers">4</div>
        <div class="skinnyBlackLetters">Play with Friends, Family, Rivals & Co-workers</div>
    </div>
    <div class="tinyLightGreyWords">Once you see for yourself how much fun you will have, play with everyone from friends to enemies for the ultimate game experience. Play head-to-head in an open league or create your own custom league to see who has bragging rights in real time with every game.</div>


</div>